<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>4jango/{{ category.short }}</title>
    <link rel="icon" href="{% static 'images/favicon32.ico' %}">
</head>
<body>

    <div class="allCategories center-screen">
        {% for entry in categories %}
        <a href="/{{ entry.short }}">[{{ entry.short }}]</a>
        {% endfor %}
    </div>

    <div class="siteLinks">
        <a class="goBack" href="{% url 'index' %}">Home</a><br>
        <a class="aboutUs" href="{% url 'about' %}">About</a><br>
        {% if user.is_authenticated %}
        <a class="myAccount" href="{% url 'user' %}">My profile</a><br>
        <a class="logout" href="{% url 'logout' %}">Logout</a><br>
        {% else %}
        <a class="login" href="{% url 'login' %}">Login</a><br>
        <a class="register" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

    <div class="center-screen categoryTitle">
        <img src="{% static 'images/4jango.png' %}" alt="logo" class="logo" width="9%" height="9%">
        <h1>{{ category.short }} - {{ category.name }}</h1>
    </div>

    <div class="newPostForm center-screen">
        <form class="form-group" action="/edit/{{ post.post_id }}" method="post" enctype="multipart/form-data" >
            <textarea class="textInput" name="title" rows="1" cols="40" placeholder="{{ post.title }}" maxlength="40"></textarea><br>
            <textarea class="textInput" name="content" rows="5" cols="40" placeholder="{{ post.content }}"></textarea><br>
            <input class="form-control-file"type="file" name="image" placeholder="image" accept="image/*"><br>       
            <input type="submit" value="Submit"><br>
        </form>
    </div>