{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="center-screen categoryTitle">
        <img src="{% static 'images/4jango.png' %}" alt="logo" class="logo" width="9%" height="9%">
        <h1>{{ category.short }} - {{ category.name }}</h1>
    </div>

    <div class="newPostForm center-screen">
        <form class="form-group" action="/edit/{{ post.post_id }}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <textarea class="textInput" name="title" rows="1" cols="40" placeholder="{{ post.title }}" maxlength="40"></textarea><br>
            <textarea class="textInput" name="content" rows="5" cols="40" placeholder="{{ post.content }}"></textarea><br>
            <input class="form-control-file"type="file" name="image" placeholder="image" accept="image/*"><br>       
            <input type="submit" value="Submit"><br>
        </form>
    </div>
{% endblock %}