<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>4jango/{{ category.short }}</title>
</head>
<body>

    <div class="allCategories">
        {% for entry in categories %}
        <a href="/{{ entry.short }}">{{ entry.short }}</a>
        {% endfor %}
    </div>

    <div class="siteLinks">
        <a class="goBack" href="/">Home</a>
    </div>
    
    <h1 class="categoryTitle">{{ category.short }} - {{ category.name }}</h1>

    <div class="newPostForm">
        <form class="form-group" action="/{{ category.short }}/post" method="post" enctype="multipart/form-data" >
            <textarea name="username" rows="1" cols="40" placeholder="username" maxlength="30"></textarea><br>
            <textarea name="title" rows="1" cols="40" placeholder="title" maxlength="40"></textarea><br>
            <textarea name="content" rows="5" cols="40" placeholder="content"></textarea><br>
            <input class="form-control-file"type="file" name="image" placeholder="image" accept="image/*"><br>       
            <input type="submit" value="Submit"><br>
        </form>
    </div>

    {% for post in posts %}
    <div class="postContainer">
        <table class="postTable">
            <tr>
                <td class="postTableTitle">
                    <a href="/post/{{ post.post_id }}" target="_blank"><h2>{{ post.title }}</h2></a>
                </td>
            </tr>
            <tr>
                <td class="postTableDetails"><p><small>#{{ post.post_id }}</small></p></td>
                <td class="postTableDetails"><p><small>{{ post.post_date }}</small></p></td>
            </tr>
            <tr>
                <td class="postTableUser"><h4>{{ post.username }} </h4></td>
            </tr>
            <tr>
                <td class="postTableContent"><p>{{ post.content }}</p></td>
                {% if post.image %}
                <td class="postTableImage"><a href="../media/{{ post.image }}" target="_blank"><img style="width:20%; height:20%" src="../media/{{ post.image }}"></a></td>
                {% endif %}
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
</html>