<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{ post.title }}</h2>
    <p><small>#{{ post.post_id }}</small></p>
    <p>{{ post.content }}</p>
    <p>{{ post.username }}</p>
    {% if post.image %}
    <a href="../media/{{ post.image }}" target="_blank"><img style="width:20%; height:20%" src="../media/{{ post.image }}"></a>
    {% endif %}        
    <p>{{ post.created_at }}</p>
    <p>{{ post.post_date }}</p>
    <br>

    <h3>Replies</h3>
    {% for reply in replies %}
    <p>{{ reply.content }}</p>
    <p>{{ reply.username }}</p>
    {% if reply.image %}
    <a href="../media/{{ reply.image }}" target="_blank"><img style="width:20%; height:20%" src="../media/{{ reply.image }}"></a>
    {% endif %}
    <p>{{ reply.reply_date }}</p>
    {% endfor %}
</body>
</html>