{% extends 'master.html' %}
{% load static %}
{% block content %}
    <div class="center-screen categoryTitle">
        <img src="{% static 'images/4jango.png' %}" alt="logo" class="logo" width="9%" height="9%">
        <h1>{{ category.short }} - {{ category.name }}</h1>
    </div>
    <br>
    <div class="newPostForm center-screen">
        <form action="{{ category.short }}/post" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p}}
            <input type="hidden" name="category" value="{{ category.categoryid }}">
            <input type="submit" value="New Post">
        </form>
    </div>

    {% for post in posts %}
    <div class="postContainer">
        <table class="postTable">
            <tr>
                <td class="postTableTitle">
                    <a href="/post/{{ post.post_id }}" target="_blank"><h2>{{ post.title }}</h2></a>
                </td>
            </tr>
            <tr>
                <td class="postTableDetails"><p><small>#{{ post.post_id }}</small></p></td>
                <td class="postTableDetails"><p><small>{{ post.post_date }}</small></p></td>
            </tr>
            <tr>
                <td class="postTableUser"><h4>{{ post.username }} </h4></td>
            </tr>
            <tr>
                <td class="postTableContent"><p>{{ post.content|safe }}</p></td>
                {% if post.image %}
                <td class="postTableImage"><a href="../media/{{ post.image }}" target="_blank"><img style="width:20%; height:20%" src="../media/{{ post.image }}" loading="lazy"></a></td>
                {% endif %}
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}