{% extends 'master.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="center-screen">
        <img src="{% static 'images/4jango.png' %}" alt="logo" class="logo" width="13%" height="13%">
    </div>
    <br>

    <div>
        <h3 class="center-screen">What do you want to do,  {{ user.username }}?</h3>
    </div>

    <div>
        <h3 class="center-screen">Change my profile name</h3>
    </div>

    <div class="postContainer">        

    </div>

    <div>
        <h3 class="center-screen">Change my profile picture</h3>
    </div>

    <div class="postContainer">

    </div>

    <div>
        <h3 class="center-screen">Change my bio</h3>
    </div>

    <div class="postContainer">

    </div>

    <div>
        <h3 class="center-screen">Change my external link</h3>
    </div>

    <div class="postContainer">

    </div>

    <div>
        <h3 class="center-screen">Change my password</h3>
    </div>

    <div class="postContainer">
        
    </div>
{% endblock %}